<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/form.css">
    <title>Form</title>
</head>
<body>
    <div>Enter name</div>
    <form action="/fill-form" method="post">
       <input type="text" name="name">
            <input class="mt-3 col-sm-2 btn" type="submit" value="Send" id="submit">
    </form>

</body>
</html>