<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css"> <!-- Link to the CSS file -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename= './css/index.css') }}"> 
    This is style for linking stylesheet or javascript in jinja2 -->
    <title>Document</title>
</head>
<body>
    <div>Hello world</div>
    <a href="/hello2">Link to hello2</a>
</body>
</html>